:root {
  --primary-color: #95D9C3;
  --secondary-color: #79F6AD;
  --accent1-color: hsl(196.2, 100%, 30%); /* Ajustado para mejorar contraste */
  --accent2-color: #C6D2CE;
}

html {
  max-width: 1400px;
  margin: auto;
}

body {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  background-image: linear-gradient(to bottom, #2E4053, #3E8E41);
  color: #fff; /* Asegura que el texto tenga buen contraste */
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
  align-items: center;
  padding: 10px;
  background-color: rgba(14, 1, 1, 0.5); /* Aumentado la opacidad */
}

.menu {
  display: flex;
  justify-content: space-between;
  font-family: "Limelight", sans-serif;
  font-weight: 400;
}

.menu > * {
  border: 1px solid #ccc;
  padding: 25px;
  margin: 5px;
  border-radius: 10px;
  background-color: #5CFFEF;
  color: #333; /* Asegura buen contraste */
}

header h1 {
  color: var(--accent1-color);
  font-size: 3rem;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4); /* Aumentado la opacidad */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-top: 1px solid #444;
}

.f-color {
  text-align: center;
  flex: 1;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.sociallinks {
  display: flex;
  justify-content: flex-end;
}

.sociallinks a {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.sociallinks a:hover {
  transform: scale(1.1);
}

.sociallinks img {
  width: 30px;
  height: 30px;
}

.sociallinks a:hover img {
  filter: invert(0);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.hero {
  background-color: rgba(14, 1, 1, 0.5); /* Aumentado la opacidad */
  padding: 10px;
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 50px;
  text-align: center;
  color: var(--accent1-color);
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.hero-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
}

.hero-text {
  padding: 20px;
}

.title-large {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.cta-button {
  background-color: rgba(0, 0, 0, 0.4); /* Aumentado la opacidad */
  color: var(--accent1-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.cta-button:hover {
  background-color: #ff99cc;
  transform: scale(1.05);
}

.newsletter {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-medium {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--accent1-color);
  border-bottom: 1px solid #ccc;
}

.newsletter-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.newsletter-form label {
  font-size: 16px;
  margin-right: 10px;
  color: var(--accent1-color);
}

.newsletter-form input[type="text"],
.newsletter-form input[type="email"] {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  margin: 0 10px;
}

.signup-button {
  background-color: rgba(0, 0, 0, 0.4); /* Aumentado la opacidad */
  color: var(--accent1-color);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor:pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
}

.signup-button:hover {
  transform: scale(0.95);
  background-color: #0099ff;
}

.about-company {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-company h3 {
  color: var(--accent1-color);
  font-size: 3rem;
  text-align: center;
}

.grid-layout {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.grid-item {
  margin: 10px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: var(--accent1-color);
}

.grid-item img {
  width: 250px;
  height: auto;
  border-radius: 10px;
}

.appear {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.appear.visible {
  opacity: 1;
  transform: translateY(0);
}
