body{
    background-color: white;
    background-size: cover;
}


nav {
    background-color: darkblue;
    padding: 10xp;

}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

image {
    width: 150xp;
    height: auto;
    border: 1px solid black;
    padding: 2xp;
    box-shadow: 0 0 30xp gray;
}

p{
    padding: 10 xp;
}

